// ========================================================
// @component: testing
// ========================================================
//

// component config
//

// component block
.u-testing {
  &--navy    { background-color: #001f3f; }
  &--blue    { background-color: #0074D9; }
  &--aqua    { background-color: #7FDBFF; }
  &--teal    { background-color: #39CCCC; }
  &--olive   { background-color: #3D9970; }
  &--green   { background-color: #2ECC40; }
  &--lime    { background-color: #01FF70; }
  &--yellow  { background-color: #FFDC00; }
  &--orange  { background-color: #FF851B; }
  &--red     { background-color: #FF4136; }
  &--maroon  { background-color: #85144b; }
  &--fuchsia { background-color: #F012BE; }
  &--purple  { background-color: #B10DC9; }
  &--black   { background-color: #111111; }
  &--gray    { background-color: #AAAAAA; }
  &--silver  { background-color: #DDDDDD; }
}
