// ========================================================
// @tools: build icon
// @dependency: t--build-icon-path
// ========================================================
//

// mixin config
//
$build-icon-width--default: 18px !default;
$build-icon-height--default: 18px !default;
$build-icon-location--default: after !default;
$build-icon-spacing--horizontal: 8px;

// mixin definition
//
@mixin build-icon(
  $build-icon-name,
  $build-icon-color,
  $build-icon-width: $build-icon-width--default,
  $build-icon-height: $build-icon-height--default,
  $build-icon-location: $build-icon-location--default
) {
  &.c-icon--#{$build-icon-name} {
    @if $build-icon-location == before {
      @include remcalc(margin-right, $build-icon-spacing--horizontal);
    } @else if $build-icon-location == after {
      @include remcalc(margin-left, $build-icon-spacing--horizontal);
    }

    &::#{$build-icon-location} {
      content: "";
      display: inline-block;
      left: -50%;
      position: relative;
      transform: translateX(50%);
      vertical-align: middle;
      background-image: build-icon-path(
        $build-icon-name,
        $build-icon-color,
        $build-icon-width,
        $build-icon-height
      );
      @include remcalc(height, $build-icon-height);
      @include remcalc(width, $build-icon-width);
    }
  }
}

// mixin usage:
//
// @include build-icon(
//   [icon-name],
//   [icon-color],
//   [icon-width (optional)]
//   [icon-height (optional)]
//   [icon-location (optional)]
// );
