// ========================================================
// @settings: breakpoints
// ========================================================
//

$bp--sm: 555px;
$bp--md: 750px;
$bp--lg: 1024px;
$bp--xl: 1400px;
