// ========================================================
// @settings: spacing
// ========================================================
//

// spacing:
$spacing--xs:  8px;
$spacing--sm:  12px;
$spacing--md:  16px;
$spacing--lg:  24px;
$spacing--xl:  32px;
$spacing--2xl: 40px;
