<ul class="o-list o-list--flat-recursive c-section-nav c-section-nav--design-system">
  {% for link in site.data.navigation %}
    <li class="c-section-nav__section">
      <span class="c-section-nav__section-heading">{{ link.title }} </span>
      <ul class="c-section-nav__section-items">
        {% for sublink in link.sublinks %}
          {% if page.url == sublink.url %}
          <li class="c-section-nav__section-item c-section-nav__section-item--active">
            <a href="{{ site.baseurl }}{{ sublink.url }}">{{ sublink.title }}</a>
          </li>
          {% else %}
          <li class="c-section-nav__section-item">
            <a href="{{ site.baseurl }}{{ sublink.url }}">{{ sublink.title }}</a>
          </li>
          {% endif %}
        {% endfor %}
      </ul>
    </li>
  {% endfor %}
</ul>
