// ========================================================
// @component: static container
// ========================================================
//

// component config
//

// component block
.c-static-container {
  &__unit {
    @media (min-width: $bp--sm) {
      height: 100%;
      overflow: auto;
      position: fixed;
    }
  }
}
