<!DOCTYPE html>
<html lang="en">

<head>
  {% include helmet.html %}
</head>

<body>
  <div class="c-hero">
    <div class="c-hero__contents">
      <h1 class="c-hero__title">CADS</h1>
      <h2 class="c-hero__subtitle">Citizens Advice Design System</h2>
    </div>
  </div>

  <div class="o-grid">
    <div class="o-grid__unit">
      <div class="u-center-contents">
        <div class="c-btn-container">
          <a class="c-btn c-btn--primary u-spacingRight--xs" href="{{ site.baseurl }}/docs/{{ site.docs_version }}/design-system/getting-started.html">Get
            started</a>
          <a class="c-btn c-btn--primary  u-spacingLeft--xs" href="{{ site.baseurl }}/docs/{{ site.docs_version }}/design-system/frontend-installation.html">Installation</a>
        </div>
      </div>
    </div>
  </div>
</body>

</html>
