// ========================================================
// @name: highlight
// @type: component
// ========================================================
//
.highlighter-rouge {
  color: #ff0000;
  max-width: 1024px;

  .highlight {
    font-family: Hack, monospace;
  }
}

.highlight,
.highlight pre {
  margin-bottom: 1.5rem;
}

.highlight pre {
  background-color: #f8f8f8;
  border-radius: 3px;
  line-height: 19px;
  overflow: auto;
  padding: 12px 20px;
}
