<!DOCTYPE html>
<html lang="en">

<head>
  {% include helmet.html %}
  <!-- Font styling: hack font -->
  <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/hack-font@3/build/web/hack.css">
</head>

<body class="open-sans">
  {% include header.html %}
  <div class="flex-ns flex-row flex-column-ns height-100-ns relative ">
    <div class="left-0-ns bottom-0-ns pl-6 pr-0 fixed-ns nav-width-ns nav-top overflow-y-auto-ns">
      <nav>{% include navigation.html %}</nav>
    </div>

    <div class="flex-grow-1 flex-shrink-1 nav-ml-300-ns">
      <main class="ph-6 relative pt-7">
        <div class="rich-content main-content">
          {{ content }}
        </div>
      </main>
      {% include footer.html %}
    </div>
  </div>
</body>

</html>
