<!DOCTYPE html>
<html lang="en">
  <head>
    {% include helmet.html %}
    <!-- Font styling: hack font -->
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/hack-font@3/build/web/hack.css">
  </head>
  <body>
    {% include header.html %}
    <div class="c-layout__container">
      <div class="c-layout__item--static">
        <nav>{% include navigation.html %}</nav>
      </div>

      <div class="c-layout__item--fluid">
        <main class="c-main-content">{{ content }}</main>
        {% include footer.html %}
      </div>

    </div>
  </body>
</html>
