<!DOCTYPE html>
<html lang="en">

<head>
  {% include helmet.html %}
  <!-- Font styling: hack font -->
  <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/hack-font@3/build/web/hack.css">
</head>

<body class="open-sans">
  {% include header.html %}

  <main class="min-vh-100 flex items-center justify-center" style="margin-top: -64px;">
    <div class="pl-4 pl-7-ns pr-4 pr-7-ns">
      <h1 class="h1">Documentation website coming soon...</h1>
      <h2 class="h2">Resources:</h2>

      <p class="p">
        <a class="a bold" href="https://github.com/citizensadvice/cads/tree/v1.0.0/packages">Documentation</a> can be
        found in each packages <code class="bold red-primary">README.md</code>.
      </p>

      <p class="p">
        <a class="a bold" href="https://adamgparsons.github.io/cads-finder/">Class finder</a> tool can be used to find
        what classes are available to you.
      </p>

      <p class="p">
        <a class="a bold" href="https://codepen.io/cbrett/pen/rRmvmR?editors=1100#0">Form components</a> example usage
        and markup.
      </p>
    </div>
  </main>
</body>

</html>
