// ========================================================
// @component: main content
// ========================================================
//

// component config
//
$main-content-bp--md: $bp--md;
$main-content-item-max-w: 600px;
$main-content-example-max-w: $bp--lg;
$main-content-last-item-spacing: $spacing--md;

// component block
.c-main-content {
  > * {
    @media (min-width: $main-content-bp--md) {
      @include remcalc(max-width, $main-content-item-max-w);
    }
  }

  > .c-example {
    max-width: $main-content-example-max-w;
  }
}
