// ========================================================
// @component: global footer
// ========================================================
//

// component config
//
$global-footer-bg-color:       $extended--blueLight;
$global-footer-mobile-spacing: $spacing--md;
$global-footer-spacing:        $spacing--2xl;
$global-footer-bp--sm:         $bp--sm;
$global-footer-left-position:  $grid-fixed-unit-width; // from framework > objects > grid

// component block
.c-global-footer {
  background-color: $global-footer-bg-color;
  left: 0px;
  max-width: 100%;
  position: absolute;
  @include remcalc(padding, $global-footer-mobile-spacing);
  @include remcalc(right, 0px);

  @media (min-width: $global-footer-bp--sm) {
    position: absolute;
    @include remcalc(left, #{$global-footer-left-position}px);
    @include remcalc(margin-top, $global-footer-mobile-spacing);
    @include remcalc(padding, $global-footer-spacing);
    right: 0;
  }

   p {
     margin-bottom: 0;
   }
}
