// ========================================================
// @component: global footer
// ========================================================
//

// component config
//
$global-footer-bp--sm:        $bp--sm;
$global-footer-left-position: $grid-fixed-unit-width; // from framework > objects > grid

// component block
.c-global-footer {
  &--design-system {
    left: 0px;
    position: absolute;
    @include remcalc(right, 0px);

    @media (min-width: $global-footer-bp--sm) {
      @include remcalc(left, #{$global-footer-left-position}px);
      right: 0;
    }
  }
}
