// ========================================================
// @component: cards
// ========================================================
//

// component config
//
$hero-bg-color: $brand--heritageBlue;
$hero-bp--sm: $bp--sm;
$hero-spacing--2xl: $spacing--2xl;


// component block
.c-hero {
  background-color: $hero-bg-color;
  @include remcalc(padding-top, $hero-spacing--2xl);
  @include remcalc(padding-bottom, $hero-spacing--2xl);

  @media (min-width: $hero-bp--sm) {
    @include remcalc(padding-top, $hero-spacing--2xl * 2);
    @include remcalc(padding-bottom, $hero-spacing--2xl * 2);
  }
  @include remcalc(margin-bottom, $hero-spacing--2xl);
  width: 100%;

  &__contents {
    text-align: center;
    width: 100%;
  }

  &__title {
    color: white;
    @include remcalc(font-size, 80px);
    text-transform: uppercase;
  }

  &__subtitle {
    color: white;
    font-weight: 400;
    margin-top: 0;
  }
}
