// ========================================================
// @component: global footer
// ========================================================
//

// component config
//
$global-footer-bp--sm:        $bp--sm;
$global-footer-spacing-top:   $spacing--md;
$global-footer-left-position: 300px;

// component block
.c-global-footer {
  &--design-system {
    left: 0px;
    @include remcalc(margin-top, $global-footer-spacing-top);
    position: absolute;
    @include remcalc(right, 0px);

    @media (min-width: $global-footer-bp--sm) {
      @include remcalc(left, #{$global-footer-left-position}px);
      right: 0;
    }
  }
}
