// ========================================================
// @component: main content
// ========================================================
//

// component config
//
$main-content-bp--md: $bp--md;
$main-content-item-width: 65%;
$main-content-last-item-spacing: $spacing--md;

// component block
.c-main-content {
  > * {
    @media (min-width: $main-content-bp--md) {
      max-width: $main-content-item-width;
    }
  }

  &:not(.highlight) {
    max-width: 100%;
  }

  > *:last-child {
    @include remcalc(margin-bottom, $main-content-last-item-spacing);
  }
}
