// ========================================================
// @component: example boxes
// ========================================================
//

// component config
//
$example-border-color: $monochrome--lightGrey;
$example-padding: $spacing--md;
$example-spacing-btm: $spacing--md;
$example-spacing-top: $spacing--2xl;
$example-tag-spacing: $spacing--xs;

// component block
.c-example {
  @include remcalc(margin-top, $example-spacing-top);
  @include remcalc(margin-bottom, $example-spacing-btm);

  &__tag {
    border: 1px solid $example-border-color;
    border-bottom: none;
    display: inline-block;
    padding: $example-tag-spacing;
  }

  &__box {
    border: 1px solid $example-border-color;
    @include remcalc(padding, $example-padding);
  }

  &--code-snippet {
    .c-example__box {
      padding: 0;
    }
  }
}
