// ========================================================
// @component: color block
// ========================================================
//

// component config
//
$color-block--heritageBlue:       $brand--heritageBlue;
$color-block--heritageYellow:     $brand--heritageYellow;
$color-block--heritageBlueTint:   $brand--heritageBlueTint;
$color-block--heritageYellowTint: $brand--heritageYellowTint;
$color-block--blueDark:           $extended--blueDark;
$color-block--bluePrimary:        $extended--bluePrimary;
$color-block--blueMid:            $extended--blueMid;
$color-block--blueLight:          $extended--blueLight;
$color-block--turquoiseDark:      $extended--turquoiseDark;
$color-block--turquoisePrimary:   $extended--turquoisePrimary;
$color-block--redPrimary:         $extended--redPrimary;
$color-block--redLight:           $extended--redLight;
$color-block--black:              $monochrome--black;
$color-block--darkGrey:           $monochrome--darkGrey;
$color-block--midGrey:            $monochrome--midGrey;
$color-block--grey:               $monochrome--grey;
$color-block--lightGrey:          $monochrome--lightGrey;
$color-block--paleGrey:           $monochrome--paleGrey;
$color-block--white:              $monochrome--white;

// component block
.c-color-block {
  &--heritageBlue       { background-color: $color-block--heritageBlue }
  &--heritageYellow     { background-color: $color-block--heritageYellow }
  &--heritageBlueTint   { background-color: $color-block--heritageBlueTint }
  &--heritageYellowTint { background-color: $color-block--heritageYellowTint }
  &--blueDark           { background-color: $color-block--blueDark }
  &--bluePrimary        { background-color: $color-block--bluePrimary }
  &--blueMid            { background-color: $color-block--blueMid }
  &--blueLight          { background-color: $color-block--blueLight }
  &--turquoiseDark      { background-color: $color-block--turquoiseDark }
  &--turquoisePrimary   { background-color: $color-block--turquoisePrimary }
  &--redPrimary         { background-color: $color-block--redPrimary }
  &--redLight           { background-color: $color-block--redLight }
  &--black              { background-color: $color-block--black }
  &--darkGrey           { background-color: $color-block--darkGrey }
  &--midGrey            { background-color: $color-block--midGrey }
  &--grey               { background-color: $color-block--grey }
  &--lightGrey          { background-color: $color-block--lightGrey }
  &--paleGrey           { background-color: $color-block--paleGrey }
  &--white              { background-color: $color-block--white }
}
