// ========================================================
// @component: fieldset
// ========================================================
//

// component config
//
$fieldset-spacing: $spacing--md;

// component block
//
fieldset,
.c-fieldset {
  border: 0;
  margin: 0;
  padding: 0;
  @include remcalc(margin-bottom, $fieldset-spacing);
}

// components elements
//
.c-fieldset__item {
  display: block;
}

// component modifiers
//
.c-fieldset--inline {
  .c-fieldset__item {
    display: inline-block;
  }
}
