// ========================================================
// @component: well
// ========================================================
//

// component config
//
$well-bp--sm: $bp--sm;
$well-border-color-default: $brand--heritageBlue;
$well-border-width-default: 2px;
$well-border-radius-default: 2px;
$well-spacing-horiztonal-default: $spacing--md;

// component block
//
.c-well {
  border-color: $well-border-color-default;
  border-style: solid;
  @include remcalc(border-width, $well-border-width-default);
  @include remcalc(border-radius, $well-border-radius-default);
  @include remcalc(padding, $well-spacing-horiztonal-default);

  *:first-child {
    margin-top: 0;
  }

  *:last-child {
    margin-bottom: 0;
  }
}
