// ========================================================
// @component: fieldset
// ========================================================
//

// component config
//
$fieldset-spacing: $spacing--md;
$fieldset-item-spacing: $fieldset-spacing / 2;

// shared component
//
%fieldset-element {
  border: none;
  padding: 0;
  margin: 0;
  @include remcalc(margin-bottom, $fieldset-spacing);
}


// component block
//
.c-fieldset {
  @extend %fieldset-element;

  // component elements
  //
  &__item {
    display: block;
    @include remcalc(margin-bottom, $fieldset-item-spacing);
    @include remcalc(margin-right, $fieldset-item-spacing);

    &:last-child {
      margin-bottom: 0;
    }
  }

  // component modifiers
  //
  &--inline {
    .c-fieldset__item {
      display: inline-block;
    }
  }
}

fieldset { @extend %fieldset-element }
