// ========================================================
// @component: radios
// @dependency: t--form-elements
// ========================================================
//

// component config
//
$radio-check-border-color-focus:     $form-elements-border-color-focus;
$radio-check-input-dot-height:       $form-elements-line-height;
$radio-check-input-padding-vertical: $form-elements-padding-vertical + $form-elements-border-width;
$radio-check-label-font-weight:      400;
$radio-check-label-spacing:          $spacing--xs / 2;
$radio-check-border-color:           $form-elements-border-color;
$radio-check-border-color-hover:     $monochrome--grey;
$radio-check-border-color-focus:     $form-elements-border-color-focus;
$radio-check-border-color-checked:   $extended--bluePrimary;
$radio-check-bgcolor:                $monochrome--paleGrey;
$radio-check-bgcolor-hover:          $radio-check-bgcolor;
$radio-check-bgcolor-focus:          $extended--blueMid;
$radio-check-bgcolor-checked:        $radio-check-bgcolor-focus;

// component block
//
.c-radio,
.c-checkbox {
  @extend %form-elements-border;
  @extend %form-elements-block;
  @extend %form-elements-spacing;
  border: 0;
  cursor: pointer;
  @include remcalc(padding-top, $radio-check-input-padding-vertical);
  @include remcalc(padding-bottom, $radio-check-input-padding-vertical);
  position: relative;
  z-index: 1;

  label {
    cursor: pointer;
    display: inline;
    font-weight: $radio-check-label-font-weight;
    margin: 0;
    @include remcalc(margin-left, $radio-check-label-spacing);
    padding: 0;
  }

  input {
    height: $radio-check-input-dot-height;
    vertical-align: top;

    &:before {
      @extend %form-elements-border;
      background-color: $radio-check-bgcolor;
      content: '';
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
      z-index: -1;
    }

    &:checked:before {
      background-color: $radio-check-bgcolor-checked;
      border-color: $radio-check-border-color-checked;
    }

    &:hover:before {
      background-color: $radio-check-bgcolor-hover;
      border-color: $radio-check-border-color-hover;
      cursor: pointer;
    }

    &:focus:before {
      background-color: $radio-check-bgcolor-focus;
      border-color: $radio-check-border-color-focus;
    }
  }
}
