// ========================================================
// @component: select
// @dependency: c--form-elements
// ========================================================
//

// component config
//
$select-border-color-focus:  $form-elements-border-color-focus;
$select-padding-right:       $spacing--2xl;
$select-icon-size:           6px;
$select-icon-color:          $monochrome--black;
$select-icon-position-right: $spacing--md;

// component block
//
.c-select {
  display: inline-block;
  position: relative;


  // component elements
  //
  select {
    @extend %form-elements;
    cursor: pointer;
    @include remcalc(padding-right, $select-padding-right);
    -webkit-appearance: none;
    -moz-appearance: none;


    &:focus {
      border-color: $select-border-color-focus;
      outline: none;
    }
  }

  &:after {
    border: 0 solid transparent;
    @include remcalc(border-left-width, $select-icon-size);
    @include remcalc(border-right-width, $select-icon-size);
    @include remcalc(border-top-width, $select-icon-size);
    border-top-style: solid;
    border-top-color: $select-icon-color;
    content: '';
    height: 0;
    position: absolute;
    pointer-events: none;
    @include remcalc(right, $select-icon-position-right);
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    top: 50%;
    width: 0;
  }
}
