// ========================================================
// @component: label
// ========================================================
//

// component config
//
$label-font-weight: 700;
$label-default-number: $magicNumber;
$label-spacing: $spacing--xs;
$label-tag-font-weight: 400;
$label-tag-color: $monochrome--midGrey;
$label-tag-spacing: $spacing--xs / 2;

// shared component
//
%label-element {
  display: block;
  font-weight: $label-font-weight;
  @include remcalc(line-height, $label-default-number * 1.5);
  @include remcalc(margin-bottom, $label-spacing);
}

// component block
//
.c-label,
.c-legend {
  @extend %label-element;

  // component elements
  //
  &__tag {
    color: $label-tag-color;
    font-weight: $label-tag-font-weight;
    @include remcalc(padding-left, $label-tag-spacing);

    &--optional {
      &:before {
        content: '('
      }

      &:after {
        content: ')'
      }
    }
  }

  &__metainfo {
    @extend %label-element;
    color: $label-tag-color;
    font-weight: $label-tag-font-weight;
  }
}

label,
legend {
  @extend %label-element
}
