// ========================================================
// @component: section nav
// ========================================================
//

// settings;
//
$section-nav-section-spacing:             $spacing--2xl;
$section-nav-section-heading-color:       $brand--heritageBlue;
$section-nav-section-heading-spacing:     $spacing--sm;
$section-nav-section-heading-font-size:   24px;
$section-nav-section-heading-font-weight: 700;
$section-nav-section-heading-line-height: 32px;
$section-nav-item-padding:                $spacing--xs;
$section-nav-item-hover-color:            $extended--blueLight;
$section-nav-item-active-color:           $section-nav-item-hover-color;
$section-nav-before-spacing:              $spacing--sm;
$section-nav-text-color:                  $monochrome--black;
$section-nav-bp--sm:                      $bp--sm;
$section-nav-sidebar-color:               $monochrome--grey;

// component block
//
.c-section-nav {

  // component elements
  //
  &__section {
    @include remcalc(margin-bottom, $section-nav-section-spacing);

    &:last-child {
      @include remcalc(margin-bottom, $section-nav-section-spacing);
    }
  }

  &__before {
    @include remcalc(margin-bottom, $section-nav-before-spacing);
  }

  &__section-heading {
    color: $section-nav-section-heading-color;
    display: inline-block;
    @include remcalc(font-size, $section-nav-section-heading-font-size);
    font-weight: $section-nav-section-heading-font-weight;
    @include remcalc(line-height, $section-nav-section-heading-line-height);
    @include remcalc(margin-bottom, $section-nav-section-heading-spacing);
  }

  &__section-items {
    @include remcalc(margin-left, -$section-nav-item-padding);
    @include remcalc(margin-right, -$section-nav-item-padding);
  }

  &__section-item {
    display: block;
    width: 100%;

    a {
      border: none;
      color: $section-nav-text-color;
      display: inline-block;
      @include remcalc(padding, $section-nav-item-padding);
      width: 100%;

      &:hover {
        background-color: $section-nav-item-hover-color;
      }
    }

    &--active {
      a {
        background-color: $section-nav-item-active-color;
      }
    }
  }
}
