// ====================================================================
// IMPORT FRAMEWORK SPECIFIC FILES
// ====================================================================
@import "../packages/support/index.scss";
@import "../packages/base/index.scss";
@import "../packages/utilities/index.scss";
@import "../packages/radio-checkbox/index.scss";

@import "./application.scss";

main > *{
    @extend .line-limit-width;
}
body{
    color:$black;
}

.sticky {
    position: sticky !important;
    top: 0 !important;
}
.lh-0{
    line-height: 0 !important;
}
.m-auto{
    margin-left: auto !important;
    margin-right: auto !important;
}
.ml-auto{
    margin-left: auto !important;
}
.mr-auto{
    margin-right: auto !important;
}
.focus-outline-heritage-yellow:focus {
    outline: 2px solid #fcbb69;
}
.nav-top{
    top: 4rem !important; //64px;
}
.nm-l-6{
    margin-left: -2rem !important;
}
.pb-100{
    padding-bottom: 100% !important;
}
.height-0{
    height: 0 !important
}
.overflow-hidden{
    overflow:hidden !important;
}
.mw-1024{
    max-width: 1024px !important;
}
.bb-none{
    border-bottom: none !important;
}


@media #{$breakpoint-not-small} {
    .nav-width-ns {
        width : 300px !important;
    }
    .overflow-y-auto-ns{
        overflow-y: auto !important;
    }
    .nav-ml-300-ns{
        margin-left: 300px !important;
    }
    .mw-250-ns{
        min-width: 250px !important;
        max-width: 250px !important;
    }
}