// framework styles
@import "@citizensadvice/cads/index.scss";

// application styles
@import "components/pygments.borland.scss";
@import "components/main-content.scss";
@import "components/code.scss";
@import "components/highlight.scss";
@import "components/tables.scss";

// @note: 
// these styles need organising and either adding to framework or put
// into files within docs app, the can't live in here as they are.

blockquote {
  border-left: solid 4px #fcbb69;
  background: #fde5c4;
  color: #000;
  margin: 1.5em 0px;
  padding: 0.5em 10px;
  quotes: "“""”""‘""’"
}

blockquote p {
  display: inline
}

body {
  color: $black;
}

.sticky {
  position: sticky !important;
  top: 0 !important;
}

.ml-auto {
  margin-left: auto !important;
}

.mr-auto {
  margin-right: auto !important;
}

.docs-content {
  min-height: calc(100vh - (172px + 64px + 1.5rem));
}

.docs-footer {
  flex: 1;
}

.nav-top {
  top: 64px !important; // height of header
}

// .nm-l-6 {
//   margin-left: -2rem !important;
// }

.pb-100 {
  padding-bottom: 100% !important;
}

.mw-1024 {
  max-width: 1024px !important;
}

@media #{$breakpoint-not-small} {
  .nav-width-ns {
    width: 300px !important;
  }

  .overflow-y-auto-ns {
    overflow-y: auto !important;
  }

  .nav-ml-300-ns {
    margin-left: 300px !important;
  }

  .mw-250-ns {
    min-width: 250px !important;
    max-width: 250px !important;
  }
}
