// ====================================================================
// IMPORT FRAMEWORK SPECIFIC FILES
// ====================================================================
@import "../packages/support/index.scss";
@import "../packages/base/index.scss";
@import "../packages/utilities/index.scss";
@import "../packages/radio-checkbox/index.scss";

main > *{
    @extend .line-limit-width;
}
body{
    color:$black;
}

.sticky {
    position: sticky !important;
    top: 0 !important;
}
.lh-0{
    line-height: 0 !important;
}
.m-auto{
    margin-left: auto !important;
    margin-right: auto !important;
}
.ml-auto{
    margin-left: auto !important;
}
.mr-auto{
    margin-right: auto !important;
}
.focus-outline-heritage-yellow:focus {
    outline: 2px solid #fcbb69;
}
.nav-top{
    top: 4rem !important; //64px;
}
.nm-l-6{
    margin-left: -2rem !important;
}
.pb-100{
    padding-bottom: 100% !important;
}
.height-0{
    height: 0 !important
}


main .highlighter-rouge {
    max-width: 1024px !important;
}
.highlight{
    margin-bottom: 1rem !important;
}
.highlight pre{
    margin: 0;
    background-color: #f8f8f8;
    border-radius: 3px;
    line-height: 19px;
    overflow: auto;
    padding: 12px 20px;
}
code , tt{
    background-color: #f8f8f8;
    border-radius: 4px;
    font-family: Hack, monospace;
    font-size: 14px;
    font-size: .875rem;
    line-height: 26px;
    line-height: 1.625rem;
    margin: 0 2px;
    padding: 0 5px;
    white-space: nowrap;
}


@media #{$breakpoint-not-small} {
    .nav-width-ns {
        width : 300px !important;
    }
    .overflow-y-auto-ns{
        overflow-y: auto !important;
    }
    .nav-ml-300-ns{
        margin-left: 300px !important;
    }
    .mw-250-ns{
        min-width: 250px !important;
        max-width: 250px !important;
    }
}






// ====================================================================
// IMPORT APPLICATION STYLES
// ====================================================================

// SETTINGS: global variables, config switches
// TOOLS: default mixins and functions
// GENERIC: ground-zero styles - normalize.css, resets, box-sizing.

// ELEMENTS: unclassed HTML elements (type selectors)
// @import "elements/e--code";

// // OBJECTS: cosmetic-free design patterns

// // COMPONENTS: designed components, chunks of UI
// @import "components/c--main-content";
// @import "components/c--static-container";
// @import "components/c--section-nav";
// @import "components/c--pygmentscss--borland";
// @import "components/c--highlight";
// @import "components/c--example";
// @import "components/c--card";
// @import "components/c--color-block";
// @import "components/c--hero";
// @import "components/c--global-footer";
// @import "components/c--global-header";
// @import "components/c--layout";

// // UTILITIES: helpers and overrides
// @import "utilities/u--testing";