// ========================================================
// @component: global footer
// ========================================================
//
// @note: this file feels not quite right in terms of class names,
// CSS etc, perhaps should be broken out into separate components.

// component config
//
$global-header-link-color: $monochrome--white;
$global-header-link-color-hover: $brand--heritageBlue;
$global-header-nav-item-spacing-horizontal: $spacing--xs / 2;
$global-header-ds-z-index: 200;

// component block
.c-global-header {
  &--design-system {
    color: $global-header-link-color;
    z-index: $global-header-ds-z-index;

    a { 
      color: inherit;
      font-weight: 600;
      &:hover {
        color: $global-header-link-color-hover
      }
    }
    
    & .c-global-header__content-wrap {
      align-items: center;
      display: flex;
    }

    & .c-global-header__meta-nav {
      margin-left: auto;
    }

    & .c-global-header__nav-item {
      display: inline-block;
      vertical-align: middle;
      margin-right: $global-header-nav-item-spacing-horizontal;

      &:last-child {
        margin-right: 0;
      }

      &:hover {
        color: $brand--heritageBlue;
      }
    }
  }
}
