<!DOCTYPE html>
<html lang="en">
  <head>
    {% include head.html %}
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/hack-font@3/build/web/hack.css">
  </head>
  <body>
    {% include global-header.html %}
    <div class="c-layout__container">
      <div class="c-layout__item--static">
        <nav>{% include site-nav.html %}</nav>
      </div>

      <div class="c-layout__item--fluid">
        <main class="c-main-content">{{ content }}</main>
        {% include global-footer.html %}
      </div>

    </div>
  </body>
</html>
