<!DOCTYPE html>
<html lang="en">
    <head>
        {% include head.html %}
    </head>
    <body>
            <nav>
                    <ul>
                    {% for link in site.data.navigation %}
                    {% if page.title contains "about" %}
   
                        {% for sublink in link.sublinks %}
                                <li>
                                    <a href="{{ site.baseurl }}{{ sublink.url }}">{{ sublink.title }}</a>
                                </li>
                        {% endfor %}

                        {% endif %}
                    {% endfor %}
                    </ul>
                </nav>
        {{ content }}
    </body>
</html>
