<!DOCTYPE html>
<html lang="en">
  <head>
    {% include head.html %}
  </head>
  <body>
    {% include global-header.html %}

    <div class="c-wrap c-wrap--full-width">
      <div class="o-grid o-grid--fixed-col o-grid--fixed-col--300 c-static-container">
        <div class="o-grid__unit c-static-container__unit">
          <nav>{% include site-nav.html %}</nav>
        </div>

        <div class="o-grid__unit">
          <main class="c-main-content">
            {{ content }}
          </main>
        </div>
      </div>
    </div>
  </body>
</html>
