<!DOCTYPE html>
<html lang="en">
  <head>
    {% include head.html %}
  </head>
  <body>
    <div class="c-hero">
      <div class="c-hero__contents">
        <h1 class="c-hero__title">Cabui</h1>
        <h2 class="c-hero__subtitle">The Citizens Advice Design System</h2>
      </div>
    </div>

    <div class="o-grid">
      <div class="o-grid__unit">
        <div class="u-center-contents">
          <a class="c-btn c-btn--primary" href="{{ site.baseurl }}/docs/1.0/design-system/getting-started">Getting started</a>
          <a class="c-btn c-btn--primary" href="{{ site.baseurl }}/docs/1.0/design-system/frontend-framework">Installation</a>
        </div>
      </div>
    </div>
  </body>
</html>
