// ========================================================
// @settings: forms
// ========================================================
//

// settings:
//
$form-elements-border-color:       $monochrome--lightGrey;
$form-elements-line-height:        $spacing--lg;
$form-elements-border:             2px;
$form-elements-padding-top-btm:    $spacing--xs + 2;
$form-elements-padding-left-right: $spacing--sm + 2;
$form-elements-font-size:          $spacing--md;

$fieldset-spacing:                 $spacing--md;
$label-spacing-bottom:             $spacing--xs;

$select-bgcolor:                   $monochrome--white;
$select-padding-top-btm:           $form-elements-padding-top-btm;
$select-padding-left:              $form-elements-padding-left-right;
$select-padding-right:             $spacing--2xl;
$select-line-height:               $form-elements-line-height;
$select-border-radius:             $form-elements-border;
$select-border-width:              $form-elements-border;
$select-border-color:              $form-elements-border-color;
$select-focus-border-color:        $form-elements-border-color;

$radio-border-radius:              $form-elements-border;
$radio-border-width:               $form-elements-border;
$radio-border-color:               $form-elements-border-color;
$radio-border-color-checked:       $extended--bluePrimary;
$radio-border-color-focus:         $brand--heritageYellow;
$radio-spacing:                    $spacing--xs;
$radio-bgcolor:                    $monochrome--paleGrey;
$radio-bgcolor-hover:              $monochrome--grey;
$radio-bgcolor-checked:            $extended--blueMid;
$radio-bgcolor-focus:              $extended--blueMid;
$radio-line-height:                $form-elements-line-height + ($radio-border-width * 2);
$radio-check-spacing:              $radio-spacing / 2;
$radio-check-size:                 14px;
$radio-sibling-spacing:            $spacing--xs;

// module definitions:
//
input, .input,
textarea, .textarea,
.select,
.radio,
.checkbox {
  @include remcalc(border-width, $form-elements-border);
  border-style: solid;
  border-color: $form-elements-border-color;
  @include remcalc(border-radius, $form-elements-border);
  @include remcalc(font-size, $form-elements-font-size);
  @include remcalc(line-height, $form-elements-line-height);
  @include remcalc(padding-top, $form-elements-padding-top-btm);
  @include remcalc(padding-bottom, $form-elements-padding-top-btm);
  @include remcalc(padding-left, $form-elements-padding-left-right);
  @include remcalc(padding-right, $form-elements-padding-left-right);

  &:focus {
    border-color: $form-elements-border-color;
    outline: none;
  }
}

fieldset, .fieldset {
  border: 0;
  margin: 0;
  padding: 0;
  @include remcalc(margin-bottom, $fieldset-spacing);
}

label, .label       {
  display: block;
  font-weight: 700;
  @include remcalc(margin-bottom, $label-spacing-bottom);
}

textarea, .textarea {
  resize: vertical;
}

.select             {
  border: 0;
  background-color: $select-bgcolor;
  display: inline-block;
  padding: 0;
  position: relative;
  width: auto;

  select            {
    background: none;
    @include remcalc(border-radius, $select-border-radius);
    @include remcalc(border, $select-border-width);
    border-style: solid;
    border-color: $select-border-color;
    cursor: pointer;
    @include remcalc(line-height, $select-line-height);
    @include remcalc(padding-top, $select-padding-top-btm);
    @include remcalc(padding-bottom, $select-padding-top-btm);
    @include remcalc(padding-left, $select-padding-left);
    @include remcalc(padding-right, $select-padding-right);
    -webkit-appearance: none;
    -moz-appearance: none;

    &:focus {
      border-color: $select-focus-border-color;
      outline: none;
    }
  }

  &:after {
    content: '\1F893'; // NOTE: this will need amending when icons are in place.
    text-align: center;
    position: absolute;
    pointer-events: none;
    @include remcalc(right, 16px);
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    top: 50%;
  }
}

.radio,
.checkbox {
  border: 0;
  @include remcalc(border-radius, 2px);
  background-color: $radio-bgcolor;
  cursor: pointer;
  display: inline-block;
  font-weight: 400;
  @include remcalc(line-height, $radio-line-height);
  @include remcalc(margin-right, $radio-spacing);
  position: relative;
  width: auto;
  z-index: 1;

  input {
    display: inline-block;
    @include remcalc(height, $radio-check-size);
    @include remcalc(margin-right, $radio-check-spacing);
    width: auto;

    &:before {
      background-color: $radio-bgcolor;
      @include remcalc(border-width, $radio-border-width);
      border-style: solid;
      border-color: $radio-border-color;
      @include remcalc(border-radius, $radio-border-radius);
      content: '';
      cursor: pointer;
      box-sizing: border-box;
      display: block;
      height: 100%;
      left: 0;
      @include remcalc(margin-right, $radio-spacing);
      position: absolute;
      top: 0;
      width: 100%;
      z-index: -1;
      -webkit-user-select: none;
    }

    &:hover:before {
      border-color: $radio-bgcolor-hover;
    }

    &:checked:before {
      background: $radio-bgcolor-checked;
      border-color: $radio-border-color-checked;
    }

    &:focus:before {
      background: $radio-bgcolor-focus;
      border-color: $radio-border-color-checked;
    }
  }
}
