// ========================================================
// @settings: links
// ========================================================
//

// settings:
//
$color--link: $brand--heritageBlue;
$color--link-hover: $extended--blueMid;
$focuscolor: $brand--heritageYellow;

// module definitions:
//
a {
    border-bottom: 1px solid currentColor;
    color: $color--link;
    text-decoration: none;

    &:hover {
        background-color: $color--link-hover;
    }

    &:focus {
        outline: 2px solid $focuscolor;
    }
}
