<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">

<title>
  {%- if page.title -%}
    {{ page.title }}
  {%- else -%}
    {{ site.title }}
  {%- endif -%}
</title>

<link rel="shortcut icon" href="{{ site.baseurl }}/docs/{{ site.docs_version }}/assets/images/favicon.ico">

<!-- Framework core styling -->
<link href="{{ site.baseurl }}/docs/{{ site.docs_version }}/assets/dist/css/cabui.css" rel="stylesheet">

<!-- Documentation styling -->
<link href="{{ site.baseurl }}/docs/{{ site.docs_version }}/assets/dist/css/docs.css" rel="stylesheet">
